<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT content ANY>
<!ATTLIST content id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT page ANY>
<!ATTLIST page id ID #REQUIRED>

]>
<root id="-1">
  <home id="1050" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2013-11-26T00:18:30" updateDate="2013-12-21T10:18:57" nodeName="Home" urlName="home" path="-1,1050" isDoc="" nodeType="1049" creatorName="admin" writerName="admin" writerID="0" template="1047" nodeTypeAlias="home">
    <mediaPicker>1063</mediaPicker>
    <content id="1074" parentID="1050" level="2" creatorID="0" sortOrder="0" createDate="2013-12-28T12:18:53" updateDate="2013-12-28T14:55:56" nodeName="Evenementen" urlName="evenementen" path="-1,1050,1074" isDoc="" nodeType="1073" creatorName="admin" writerName="admin" writerID="0" template="1072" nodeTypeAlias="content">
      <title />
      <navigationTitle />
    </content>
    <content id="1075" parentID="1050" level="2" creatorID="0" sortOrder="1" createDate="2013-12-28T14:58:11" updateDate="2013-12-28T14:58:11" nodeName="Foto's" urlName="fotos" path="-1,1050,1075" isDoc="" nodeType="1073" creatorName="admin" writerName="admin" writerID="0" template="1072" nodeTypeAlias="content">
      <title />
      <navigationTitle />
    </content>
  </home>
</root>