<!DOCTYPE root[<!ELEMENT newsitem ANY>
<!ATTLIST newsitem id ID #REQUIRED>
<!ELEMENT news ANY>
<!ATTLIST news id ID #REQUIRED>
 
<!ELEMENT aboutus ANY>
<!ATTLIST aboutus id ID #REQUIRED>
<!ELEMENT calendar ANY>
<!ATTLIST calendar id ID #REQUIRED>
<!ELEMENT content ANY>
<!ATTLIST content id ID #REQUIRED>
<!ELEMENT events ANY>
<!ATTLIST events id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT page ANY>
<!ATTLIST page id ID #REQUIRED>
<!ELEMENT pictures ANY>
<!ATTLIST pictures id ID #REQUIRED>
<!ELEMENT rehearsel ANY>
<!ATTLIST rehearsel id ID #REQUIRED>
<!ELEMENT rental ANY>
<!ATTLIST rental id ID #REQUIRED>
<!ELEMENT volunteers ANY>
<!ATTLIST volunteers id ID #REQUIRED>

]>
<root id="-1">
  <home id="1050" key="cc4a60b3-9440-4bb0-86b8-24184c1218f0" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2013-11-26T00:18:30" updateDate="2014-05-10T23:05:45" nodeName="Home" urlName="home" path="-1,1050" isDoc="" nodeType="1049" creatorName="admin" writerName="admin" writerID="0" template="1047" nodeTypeAlias="home">
    <events id="1095" parentID="1050" level="2" creatorID="0" sortOrder="1" createDate="2014-01-12T11:10:37" updateDate="2014-01-18T12:55:37" nodeName="Evenementen" urlName="evenementen" path="-1,1050,1095" isDoc="" nodeType="1094" creatorName="admin" writerName="admin" writerID="0" template="1093" nodeTypeAlias="events">
      <title />
      <navigationTitle />
      <calendar id="1098" parentID="1095" level="3" creatorID="0" sortOrder="0" createDate="2014-01-12T11:54:40" updateDate="2014-01-18T11:56:04" nodeName="Kalender" urlName="kalender" path="-1,1050,1095,1098" isDoc="" nodeType="1097" creatorName="admin" writerName="admin" writerID="0" template="1096" nodeTypeAlias="calendar">
        <title />
        <navigationTitle />
      </calendar>
      <pictures id="1101" parentID="1095" level="3" creatorID="0" sortOrder="1" createDate="2014-01-12T11:58:24" updateDate="2014-01-18T11:36:11" nodeName="Foto's" urlName="fotos" path="-1,1050,1095,1101" isDoc="" nodeType="1100" creatorName="admin" writerName="admin" writerID="0" template="1099" nodeTypeAlias="pictures">
        <title />
        <navigationTitle />
      </pictures>
    </events>
    <aboutus id="1106" parentID="1050" level="2" creatorID="0" sortOrder="1" createDate="2014-01-12T12:05:16" updateDate="2014-01-18T12:56:07" nodeName="Over ons" urlName="over-ons" path="-1,1050,1106" isDoc="" nodeType="1103" creatorName="admin" writerName="admin" writerID="0" template="1102" nodeTypeAlias="aboutus">
      <title />
      <navigationTitle />
      <volunteers id="1107" parentID="1106" level="3" creatorID="0" sortOrder="0" createDate="2014-01-12T12:05:41" updateDate="2014-01-18T11:55:07" nodeName="Medewerkers" urlName="medewerkers" path="-1,1050,1106,1107" isDoc="" nodeType="1105" creatorName="admin" writerName="admin" writerID="0" template="1104" nodeTypeAlias="volunteers">
        <title />
        <navigationTitle />
      </volunteers>
    </aboutus>
    <rental id="1111" parentID="1050" level="2" creatorID="0" sortOrder="2" createDate="2014-01-21T21:18:49" updateDate="2014-01-21T21:18:49" nodeName="Verhuur" urlName="verhuur" path="-1,1050,1111" isDoc="" nodeType="1110" creatorName="admin" writerName="admin" writerID="0" template="1109" nodeTypeAlias="rental">
      <title />
      <navigationTitle />
    </rental>
    <news id="1126" key="97494954-9a18-4942-8801-a4adc7ae023b" parentID="1050" level="2" creatorID="0" sortOrder="3" createDate="2014-03-01T19:31:40" updateDate="2014-03-01T19:31:40" nodeName="Nieuws" urlName="nieuws" path="-1,1050,1126" isDoc="" nodeType="1123" creatorName="admin" writerName="admin" writerID="0" template="1122" nodeTypeAlias="news">
      <newsitem id="1127" key="be129ed1-7e29-4f99-bd60-fefc23e9ce95" parentID="1126" level="3" creatorID="0" sortOrder="0" createDate="2014-03-01T19:40:23" updateDate="2014-03-05T19:50:23" nodeName="Eerste nieuwtje!" urlName="eerste-nieuwtje" path="-1,1050,1126,1127" isDoc="" nodeType="1125" creatorName="admin" writerName="admin" writerID="0" template="1124" nodeTypeAlias="newsitem">
        <inhoud><![CDATA[<p>Dit is het allereerste <strong>nieuwtje</strong> op de website van De Gnirk. Zoals u ziet is er nog veel werk aan de winkel. Er moet nog tonnen code gerefactored worden, de templates en teksten moeten nog geschreven worden en partial views in overvloed.</p>]]></inhoud>
      </newsitem>
      <newsitem id="1128" key="1f19adec-a465-4553-947c-6d86988e84a8" parentID="1126" level="3" creatorID="0" sortOrder="1" createDate="2014-03-05T18:54:56" updateDate="2014-03-05T18:54:56" nodeName="nog eentje" urlName="nog-eentje" path="-1,1050,1126,1128" isDoc="" nodeType="1125" creatorName="admin" writerName="admin" writerID="0" template="1124" nodeTypeAlias="newsitem">
        <inhoud><![CDATA[<p>fgrefre fre jfze rfj j</p>]]></inhoud>
      </newsitem>
    </news>
    <mediaPicker>1063</mediaPicker>
  </home>
</root>