@font-face {
			    font-family: 'league_gothicregular';
			    src: url('leaguegothic-regular-webfont.eot');
			    src: url('leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
			         url('leaguegothic-regular-webfont.woff') format('woff'),
			         url('leaguegothic-regular-webfont.ttf') format('truetype'),
			         url('leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
			    font-weight: normal;
			    font-style: normal;
			}

			.shadow {
				/*-moz-box-shadow: 3px 3px 4px #000;
				-webkit-box-shadow: 3px 3px 4px #000;
				box-shadow: 3px 3px 4px #000;
				-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
				filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');*/
				text-shadow:2px 2px 4px #000;
			}

			* {
				margin:0;
				padding:0;
			}

			a {
				text-decoration: none;
			}

			body {
				overflow-y:hidden;
			}

			header {
				display:table !important;
				width:100%;
			}

			header a, header {
				color:#fff;
			}

			#headerContent {
				margin:auto;
				text-align:center;
				display:table-cell;
				vertical-align: middle;
			}

			.hide-text {
				overflow: hidden;
				text-indent: 100%;
				white-space: nowrap;
			}

			#logoHolder {
				position: relative;
				width: 300px;
				height:300px;
				display: inline-block;
				top:-600px;
				opacity: 0;
			}

			.degnirklogo{
				position: absolute;
				height: inherit;
				width: inherit;
				display: block;
			}

			#degnirkinnerlogo {
				background: url("../images/degnirkinnerlogo.png") no-repeat scroll 0 0 transparent;
			}

			#degnirkinnerring {
				background: url("../images/degnirkinnerring.png") no-repeat scroll 0 0 transparent;
			}

			#degnirkouterring {
				background: url("../images/degnirkouterring.png") no-repeat scroll 0 0 transparent;
			}

            nav, nav h2, nav h1 {
                font-family: league_gothicregular;
                font-size: 40px;
                font-weight: normal;
                line-height: normal;
            }

			header nav {
				display:none;
			}

            header h1 {
                font-size: 80px;
            }

            header h2 {
                font-size: 40px;
                display: inline-block;
            }

			h2 a:hover, h1 a:hover, h2 a:focus, h1 a:focus {
				text-shadow:2px 2px 4px #ccc;
			    color: #fff;
			    text-decoration: none;
			}

			#headerCentral {
				margin:auto;
			}