@using ClientDependency.Core.Mvc
@using degnirk.be.Controllers
@using degnirk.be.Models

@using (Html.BeginUmbracoForm<CalendarController>("GetEvents"))
{

}

@{
    Html.RequiresJs("~/scripts/underscore-min.js", 2)
        .RequiresJs("~/scripts/language/nl-NL.js", 2)
        .RequiresJs("~/scripts/jstz.js", 2)
        .RequiresJs("~/scripts/calendar.js", 2)
        .RequiresJs("~/scripts/calendar-initialization.js", 3);

    Html.RequiresCss("~/css/calendar.css");
}

<h4 class="calendar-header">Kalender titel</h4>
<div id="calendar"></div>