@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "page.cshtml";
}

@section content
{
    @{
        var titleproperty = Model.Content.GetProperty("title");
        var title = titleproperty.HasValue ? titleproperty.Value.ToString() : Model.Content.Name;
    }
    <h2>@title</h2>
    @RenderSection("innercontent")
}