@using ClientDependency.Core.Mvc
@using degnirk.be.Models
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "content.cshtml";
}

@section innercontent{
    <div class="row">
        <div class="col-sm-12 col-lg-8">
            <h3>Kalender</h3>
            <div class="text-center">
                <div class="btn-group">
                    <button data-calendar-nav="prev" class="btn-sm btn btn-primary">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </button>
                    <button data-calendar-nav="today" class="btn-sm btn">Today</button>
                    <button data-calendar-nav="next" class="btn-sm btn btn-primary">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </button>
                </div>
                <div class="btn-group">
                    <button data-calendar-view="year" class="btn btn-warning">Year</button>
                    <button data-calendar-view="month" class="btn btn-warning active">Month</button>
                    <button data-calendar-view="week" class="btn btn-warning">Week</button>
                    <button data-calendar-view="day" class="btn btn-warning">Day</button>
                </div>
            </div>
            @{ Html.RenderPartial("~/Views/Partials/Calendar.cshtml", new CalendarModel()); }
        </div>
        <div class="col-sm-12 col-lg-4">
            <h3>Laatste foto's</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-lg-4">
            <h3>Laatste foto's</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h3></h3>
        </div>
    </div>
}