@using degnirk.be.Models
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "content.cshtml";
}

@section innercontent{
    <div class="row">
        <div class="col-sm-12">
            <h3>Kalender</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <h3>Laatste foto's</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h3></h3>
        </div>
    </div>
}