@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "master.cshtml";
}
@section home
{
    <header>
        <div id="headerContent">
            <!--
                    <div class="sprite" id="topnav">
                        <a class="sprite" id="facebooklogo" href="#"><img alt="Facebook" src="FB-f-Logo__blue_16.png"/></a>
                        <a class="sprite" id="foursquarelogo" href="#"><img alt="Foursquare" src="icon-16x16.png"/></a>
                        <a class="sprite" id="maillogo" href="mailto:inf@degnirk.be"><img alt="e-mail" src="no_mail.png"/></a>
                    </div>
                    -->
            <div id="headerCentral">
                <div id="logoHolder">
                    <a class="hide-text degnirklogo" id="degnirkinnerlogo" href="#">Jeugdhuis De Gnirk</a>
                    <a class="hide-text degnirklogo" id="degnirkinnerring" href="#">Jeugdhuis De Gnirk</a>
                    <a class="hide-text degnirklogo" id="degnirkouterring" href="#">Jeugdhuis De Gnirk</a>
                </div>
                <nav class="shadow">
                    <h1>
                        <a href="#">JEUGDHUIS DE GNIRK</a>
                    </h1>
                    <h2>
                        <a href="#">EVENEMENTEN</a>
                    </h2>
                    &nbsp;-&nbsp;
                        <h2>
                            <a href="#">FOTO'S</a>
                        </h2>
                    &nbsp;-&nbsp;
                        <h2>
                            <a href="#">DJ'S</a>
                        </h2>
                </nav>
            </div>
        </div>
    </header>

    <div id="content">
        <div id="contentplaceholder">
            <h2>Deze website is voorlopig onder constructie!</h2>

            <p>Lorum ipsum</p>
        </div>
    </div>
}