@using System.Linq
@using umbraco.MacroEngines
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "master.cshtml";
}
@section home
{
    @{
        var mediaId = (int)@Model.Content.GetProperty("mediaPicker").Value;
        var umbracoHelper = new UmbracoHelper(this.UmbracoContext);
        var media = umbracoHelper.TypedMedia(mediaId);
        var images = string.Join(", ", media.Children.Select(i => "'.." + i.Url + "'").RandomOrder());
    }
    <script language="javascript" type="text/javascript">
        var images = [@Html.Raw(images)];
    </script>
    <header>
        <div id="headerContent">
            <div id="logoHolder">
                <a class="hide-text degnirklogo" id="degnirkinnerlogo" href="#">Jeugdhuis De Gnirk</a>
                <a class="hide-text degnirklogo" id="degnirkinnerring" href="#">Jeugdhuis De Gnirk</a>
                <a class="hide-text degnirklogo" id="degnirkouterring" href="#">Jeugdhuis De Gnirk</a>
            </div>
            <nav class="shadow">
                <h1>
                    <a href="#">JEUGDHUIS DE GNIRK</a>
                </h1>
                <h2>
                    <a href="#">EVENEMENTEN</a>
                </h2>
                &nbsp;-&nbsp;
                <h2>
                    <a href="#">FOTO'S</a>
                </h2>
                &nbsp;-&nbsp;
                <h2>
                    <a href="#">DJ'S</a>
                </h2>
            </nav>
        </div>
    </header>

    <div class="container">
        <h2>Deze website is voorlopig onder constructie!</h2>

        <p>Lorum ipsum</p>
        <div class="row">
            <div class="col-md-8">kolom8</div>
            <div class="col-md-4">kolom4</div>
        </div>
        <div class="row">
            <div class="col-md-12">De volledige breedte is ingenomen door deze teskt normaal. Ik ga hier nog wat zeveren om het parallax effect mogelijk te maken. Daarna ga ik proberen om het te implementeren. En als dat niet lukt dan laat ik het zo.</div>
        </div>
        <div class="row">
            <div class="col-md-4">De volledige breedte is ingenomen door deze teskt normaal. Ik ga hier nog wat zeveren om het parallax effect mogelijk te maken. Daarna ga ik proberen om het te implementeren. En als dat niet lukt dan laat ik het zo.</div>
            <div class="col-md-8">De volledige breedte is ingenomen door deze teskt normaal. Ik ga hier nog wat zeveren om het parallax effect mogelijk te maken. Daarna ga ik proberen om het te implementeren. En als dat niet lukt dan laat ik het zo.</div>
        </div>
        <div class="row">
            <div class="col-md-3">De volledige breedte is ingenomen door deze teskt normaal. Ik ga hier nog wat zeveren om het parallax effect mogelijk te maken. Daarna ga ik proberen om het te implementeren. En als dat niet lukt dan laat ik het zo.</div>
            <div class="col-md-3">De volledige breedte is ingenomen door deze teskt normaal. Ik ga hier nog wat zeveren om het parallax effect mogelijk te maken. Daarna ga ik proberen om het te implementeren. En als dat niet lukt dan laat ik het zo.</div>
            <div class="col-md-3">De volledige breedte is ingenomen door deze teskt normaal. Ik ga hier nog wat zeveren om het parallax effect mogelijk te maken. Daarna ga ik proberen om het te implementeren. En als dat niet lukt dan laat ik het zo.</div>
            <div class="col-md-3">De volledige breedte is ingenomen door deze teskt normaal. Ik ga hier nog wat zeveren om het parallax effect mogelijk te maken. Daarna ga ik proberen om het te implementeren. En als dat niet lukt dan laat ik het zo.</div>
        </div>
        <div class="row">
            <div class="col-md-2">De volledige breedte is ingenomen door deze teskt normaal. Ik ga hier nog wat zeveren om het parallax effect mogelijk te maken. Daarna ga ik proberen om het te implementeren. En als dat niet lukt dan laat ik het zo.</div>
            <div class="col-md-2">De volledige breedte is ingenomen door deze teskt normaal. Ik ga hier nog wat zeveren om het parallax effect mogelijk te maken. Daarna ga ik proberen om het te implementeren. En als dat niet lukt dan laat ik het zo.</div>
            <div class="col-md-2">De volledige breedte is ingenomen door deze teskt normaal. Ik ga hier nog wat zeveren om het parallax effect mogelijk te maken. Daarna ga ik proberen om het te implementeren. En als dat niet lukt dan laat ik het zo.</div>
            <div class="col-md-2">De volledige breedte is ingenomen door deze teskt normaal. Ik ga hier nog wat zeveren om het parallax effect mogelijk te maken. Daarna ga ik proberen om het te implementeren. En als dat niet lukt dan laat ik het zo.</div>
            <div class="col-md-2">De volledige breedte is ingenomen door deze teskt normaal. Ik ga hier nog wat zeveren om het parallax effect mogelijk te maken. Daarna ga ik proberen om het te implementeren. En als dat niet lukt dan laat ik het zo.</div>
            <div class="col-md-2">De volledige breedte is ingenomen door deze teskt normaal. Ik ga hier nog wat zeveren om het parallax effect mogelijk te maken. Daarna ga ik proberen om het te implementeren. En als dat niet lukt dan laat ik het zo.</div>
        </div>
        <div class="row">
            <div class="col-md-3">De volledige breedte is ingenomen door deze teskt normaal. Ik ga hier nog wat zeveren om het parallax effect mogelijk te maken. Daarna ga ik proberen om het te implementeren. En als dat niet lukt dan laat ik het zo.</div>
            <div class="col-md-3">De volledige breedte is ingenomen door deze teskt normaal. Ik ga hier nog wat zeveren om het parallax effect mogelijk te maken. Daarna ga ik proberen om het te implementeren. En als dat niet lukt dan laat ik het zo.</div>
            <div class="col-md-3">De volledige breedte is ingenomen door deze teskt normaal. Ik ga hier nog wat zeveren om het parallax effect mogelijk te maken. Daarna ga ik proberen om het te implementeren. En als dat niet lukt dan laat ik het zo.</div>
            <div class="col-md-3">De volledige breedte is ingenomen door deze teskt normaal. Ik ga hier nog wat zeveren om het parallax effect mogelijk te maken. Daarna ga ik proberen om het te implementeren. En als dat niet lukt dan laat ik het zo.</div>
        </div>
        <div class="row">
            <div class="col-md-2">De volledige breedte is ingenomen door deze teskt normaal. Ik ga hier nog wat zeveren om het parallax effect mogelijk te maken. Daarna ga ik proberen om het te implementeren. En als dat niet lukt dan laat ik het zo.</div>
            <div class="col-md-2">De volledige breedte is ingenomen door deze teskt normaal. Ik ga hier nog wat zeveren om het parallax effect mogelijk te maken. Daarna ga ik proberen om het te implementeren. En als dat niet lukt dan laat ik het zo.</div>
            <div class="col-md-2">De volledige breedte is ingenomen door deze teskt normaal. Ik ga hier nog wat zeveren om het parallax effect mogelijk te maken. Daarna ga ik proberen om het te implementeren. En als dat niet lukt dan laat ik het zo.</div>
            <div class="col-md-2">De volledige breedte is ingenomen door deze teskt normaal. Ik ga hier nog wat zeveren om het parallax effect mogelijk te maken. Daarna ga ik proberen om het te implementeren. En als dat niet lukt dan laat ik het zo.</div>
            <div class="col-md-2">De volledige breedte is ingenomen door deze teskt normaal. Ik ga hier nog wat zeveren om het parallax effect mogelijk te maken. Daarna ga ik proberen om het te implementeren. En als dat niet lukt dan laat ik het zo.</div>
            <div class="col-md-2">De volledige breedte is ingenomen door deze teskt normaal. Ik ga hier nog wat zeveren om het parallax effect mogelijk te maken. Daarna ga ik proberen om het te implementeren. En als dat niet lukt dan laat ik het zo.</div>
        </div>
        <div class="row">
            <div class="col-md-3">De volledige breedte is ingenomen door deze teskt normaal. Ik ga hier nog wat zeveren om het parallax effect mogelijk te maken. Daarna ga ik proberen om het te implementeren. En als dat niet lukt dan laat ik het zo.</div>
            <div class="col-md-3">De volledige breedte is ingenomen door deze teskt normaal. Ik ga hier nog wat zeveren om het parallax effect mogelijk te maken. Daarna ga ik proberen om het te implementeren. En als dat niet lukt dan laat ik het zo.</div>
            <div class="col-md-3">De volledige breedte is ingenomen door deze teskt normaal. Ik ga hier nog wat zeveren om het parallax effect mogelijk te maken. Daarna ga ik proberen om het te implementeren. En als dat niet lukt dan laat ik het zo.</div>
            <div class="col-md-3">De volledige breedte is ingenomen door deze teskt normaal. Ik ga hier nog wat zeveren om het parallax effect mogelijk te maken. Daarna ga ik proberen om het te implementeren. En als dat niet lukt dan laat ik het zo.</div>
        </div>
        <div class="row">
            <div class="col-md-2">De volledige breedte is ingenomen door deze teskt normaal. Ik ga hier nog wat zeveren om het parallax effect mogelijk te maken. Daarna ga ik proberen om het te implementeren. En als dat niet lukt dan laat ik het zo.</div>
            <div class="col-md-2">De volledige breedte is ingenomen door deze teskt normaal. Ik ga hier nog wat zeveren om het parallax effect mogelijk te maken. Daarna ga ik proberen om het te implementeren. En als dat niet lukt dan laat ik het zo.</div>
            <div class="col-md-2">De volledige breedte is ingenomen door deze teskt normaal. Ik ga hier nog wat zeveren om het parallax effect mogelijk te maken. Daarna ga ik proberen om het te implementeren. En als dat niet lukt dan laat ik het zo.</div>
            <div class="col-md-2">De volledige breedte is ingenomen door deze teskt normaal. Ik ga hier nog wat zeveren om het parallax effect mogelijk te maken. Daarna ga ik proberen om het te implementeren. En als dat niet lukt dan laat ik het zo.</div>
            <div class="col-md-2">De volledige breedte is ingenomen door deze teskt normaal. Ik ga hier nog wat zeveren om het parallax effect mogelijk te maken. Daarna ga ik proberen om het te implementeren. En als dat niet lukt dan laat ik het zo.</div>
            <div class="col-md-2">De volledige breedte is ingenomen door deze teskt normaal. Ik ga hier nog wat zeveren om het parallax effect mogelijk te maken. Daarna ga ik proberen om het te implementeren. En als dat niet lukt dan laat ik het zo.</div>
        </div>
    </div>
}