@using ClientDependency.Core.Mvc
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;

    Html.RequiresJs("~/scripts/jquery-2.1.0.js", 0)
        .RequiresJs("~/scripts/jquery.backstretch.js", 2)
        .RequiresJs("~/scripts/jquery.nicescroll.js", 2)
        .RequiresJs("~/scripts/jQueryRotate.js", 2)
        .RequiresJs("~/scripts/bootstrap.js", 2)
        .RequiresJs("~/scripts/DeGnirk.js", 3);

    Html.RequiresCss("~/css/degnirk.css")
        .RequiresCss("~/Content/bootstrap.css");
        @*.RequiresCss("~/Content/bootstrap-theme.css")*@
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>De Gnirk</title>
    @Html.RenderCssHere()
</head>
<body class="antiscroll-wrap">
    <div id="fb-root"></div>
    <div class="antiscroll-inner">
        @RenderSection("bodycontent")
    </div>
    @Html.RenderJsHere()
</body>
</html>
