@using ClientDependency.Core.Mvc
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;

    Html.RequiresJs("~/scripts/jquery-2.0.3.js",0)
        .RequiresJs("~/scripts/jquery.backstretch.js", 2)
        .RequiresJs("~/scripts/jquery.nicescroll.js", 2)
        .RequiresJs("~/scripts/jQueryRotate.js", 2)
        .RequiresJs("~/scripts/bootstrap.js", 2)
        .RequiresJs("~/scripts/underscore-min.js",2)
        .RequiresJs("~/scripts/language/nl-NL.js",2)
        .RequiresJs("~/scripts/calendar.js",3)
        .RequiresJs("~/scripts/DeGnirk.js", 3);
}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>De Gnirk</title>
    <link href="~/css/degnirk.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/css/calendar.css" rel="stylesheet" type="text/css"/>
    @*<link href="~/Content/bootstrap-theme.css" rel="stylesheet" type="text/css"/>*@
</head>
    <body class="antiscroll-wrap">
        <div id="fb-root"></div>
        <div class="antiscroll-inner">
            @RenderSection("bodycontent")
        </div>
        @Html.RenderJsHere()
    </body>
</html>
