@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>De Gnirk</title>
    <link href="~/css/degnirk.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css"/>
    <link href="~/Content/bootstrap-theme.css"/>
</head>
<body>
    @RenderSection("home")
    <script src="~/scripts/jquery-2.0.3.js"></script>
    <script src="~/scripts/jquery.backstretch.js"></script>
    <script src="~/scripts/jquery.nicescroll.js"></script>
    <script src="~/scripts/jQueryRotate.js"></script>
    <script src="~/scripts/DeGnirk.js"></script>
    <script src="~/scripts/bootstrap.js"></script>
</body>
</html>
