@using degnirk.be.Models
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "master.cshtml";
}

@section bodycontent
{
    <div id="content" class="container">
        @{ Html.RenderPartial("~/Views/Partials/Navigation.cshtml", Model.Content.Parent);}

        <ol class="breadcrumb">
            @foreach (var ancestor in Model.Content.Ancestors().Where(t => t.IsVisible()).Reverse())
            {
                <li><a href="@ancestor.Url">@ancestor.Name</a></li>
            }
            <li class="active">@Model.Content.Name</li>
        </ol>

        @{ Html.RenderPartial("~/Views/Partials/Login.cshtml"); }
        @RenderSection("content")
    </div>
}