@using System.Configuration
@using degnirk.be.Models
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "content.cshtml";
}
@section innercontent{
    <p>Foto's</p>
    @{ Html.RenderAction(
                       "GetFacebookAlbums",
                       "FacebookAlbums",
                       new
                       {
                           facebookAppAccessToken = ConfigurationManager.AppSettings["FacebookAppAccessToken"],
                           facebookPageId = long.Parse(ConfigurationManager.AppSettings["FacebookPageId"])
                       });}
}